{{#starter.account}}
<div id="wrapper">
    <header id="header">
        <div class="small-3 brand_sim">
            <b>Siemens</b>
        </div>
        <div class="small-6 menu-app_sim">
            <ul>
                <li>
                    <a>Desktops</a>
                </li>
                <li>
                    <a>Widgets</a>
                </li>
                <li>
                    <a>Notifications</a>
                </li>
            </ul>
        </div>
        <div class="small-3 menu-account_sim"></div>
    </header>
    <section id="section">

    </section>
    <footer id="footer">

    </footer>
</div>
{{/starter.account}}